<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="CisDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aldmi\CisDbContextTest.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding openTimeout="00:01:00"
                 closeTimeout="00:01:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:30:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name ="Server.HostWCF.CisServise" behaviorConfiguration="MyServiceTypeBehaviors">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:50000/Service"/>
          </baseAddresses>
        </host>

        <!-- Указание Адреса, Привязки, Контракта -->
        <endpoint address="Cis"
                  binding="basicHttpBinding"
                  contract="WCFCis2AvtodictorContract.Contract.IServerContract" />

        <endpoint address="CisSimple"
          binding="basicHttpBinding"
          contract="WCFCis2AvtodictorContract.Contract.IServerContractSimple" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
